  <!-- Discount section -->
  <div class="discount-section text-center" id="discount">
          <div class="discount-section-inner">
                  <div class="g-max-width--770 g-margin-side-auto">
                          <h2 class="g-mb-20">
                                  <em class="g-mb-10">Contact us now and</em>
                                  <strong>Get 10%</strong> discount
                          </h2>
                          <p class="g-color-white--dark g-mb-35">Donec eleifend mauris eu leo varius consectetur. Aliquam luctus a lorem ac rutrum. Cras in nulla id mi ornare vestibulum. Donec et magna nulla. Pellentesque ut ipsum id nibh pretium blandit quis ac erat.</p>
                          <a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Contact us</a>
                  </div>
          </div>
  </div>
  <!-- /Discount section -->
