{% load pages_tags mezzanine_tags %}

  <!-- Header -->
  <nav class="header-v9 navbar navbar-default navbar-fixed-top" data-role="navigation">
    <div class="container-fluid no-side-padding bg-1">
      <!-- Topbar -->
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-xs-4 page-scroll">
              <a href="#start" class="logo"><img src="assets/img/logo-dark.png" alt="Logo">
                {% block navbar_title %}
                {% if settings.SITE_TITLE %}<!-- a class="navbar-brand" href="/" -->{{ settings.SITE_TITLE|safe }}<!-- /a -->{% endif %}
                {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
                {% endblock %}
              </a>
            </div>

            <div class="col-sm-9 col-xs-8">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 topbar-block first">
                  <div class="topbar-block-in">
                    <ul class="list-unstyled">
                      <li class="first-item">
                        <span aria-hidden="true" class="icon-home icon"></span>
                        Buyers
                      </li>
                      <li class="second-item">
                        <span aria-hidden="true" class="icon-envelope icon"></span>
                        +{{ settings.ORG_PHONE }}</li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-3 hidden-md hidden-sm hidden-xs topbar-block">
                  <div class="topbar-block-in">
                    <ul class="list-unstyled">
                      <li class="first-item">
                        <span aria-hidden="true" class="icon-envelope icon"></span>
                        Email us</li>
                      <li class="second-item">
                        <span aria-hidden="true" class="icon-envelope icon"></span>
                        {{ settings.ORG_EMAIL }}</li>
                    </ul>
                    <!-- ul class="list-unstyled">
                      <li class="first-item"><span aria-hidden="true" class="icon-clock icon"></span> Opening time</li>
                      <li class="second-item">Mon-Sat: 08.00 - 18.00</li>
                    </ul -->
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 topbar-block">
                  <div class="topbar-block-in">
                      {% block navbar_search_form %}{% search_form "all" %}{% endblock %}
                      {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 hidden-xs topbar-block">
                  <div class="topbar-social clearfix">
                    <ul class="list-unstyled">
                      <li><a href="#" class="rounded-x"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" class="rounded-x"><i class="fa fa-pinterest"></i></a></li>
                      <li class="fb"><a href="#" class="rounded-x"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Topbar -->
    </div>

    <div class="container-fluid bg-2 one-page-nav-scrolling one-page-nav__fixed">
      <div class="container">
        <div class="menu-container page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="menu-container">
            <ul class="nav navbar-nav">
              <li class="page-scroll home">
                <a href="#start">Home</a>
              </li>
              <li class="page-scroll">
                <a href="#flats-for-rent">Flats for rent</a>
              </li>
              <li class="page-scroll">
                <a href="#special-offers">Special offers</a>
              </li>
              <li class="page-scroll">
                <a href="#our-houses">Our houses</a>
              </li>
              <li class="page-scroll">
                <a href="#gallery">Gallery</a>
              </li>
              <li class="page-scroll">
                <a href="#agents">Agents</a>
              </li>
              <li class="page-scroll">
                <a href="#discount">discount</a>
              </li>
              <li class="page-scroll">
                <a href="#testimonials">Testimonials</a>
              </li>
              <li class="page-scroll">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </div>
  </nav>
  <!-- /Header -->
