  <!-- Important objects section -->
  <div class="important-objects-section g-color-white--dark" id="gallery">
            <div class="important-objects-list">
  <!-- Object -->
              <div class="object important-object">
                    <img src="assets/img-temp/important-objects/1.jpg" alt=""><!-- Object photo -->
    <!-- Object info -->
                    <div class="important-object-info">
                            <h3 class="object__title"><a href="#">Nunc sed tristique mi</a></h3>
                            <p>Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi lobortis.</p>
      <!-- Object properties -->
                            <ul class="object-properties">
                                    <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
                                    <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
                                    <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
                            </ul>
      <!-- /Object properties -->

      <!-- Object raiting & price -->
                                    <div class="object-raiting-price">
                                    <div class="object-raiting">
                                                    <ul class="list-inline star-vote">
                                                            <li><i class="g-color-default fa fa-star"></i></li>
                                                            <li><i class="g-color-default fa fa-star"></i></li>
                                                            <li><i class="g-color-default fa fa-star"></i></li>
                                                            <li><i class="g-color-default fa fa-star-half-o"></i></li>
                                                            <li><i class="g-color-default fa fa-star-o"></i></li>
                                                    </ul>
                                                    <a href="#">12 reviews</a>
                                    </div>
                                    <div class="object__price">$2.500.000</div>
                            </div>
      <!-- /Object raiting & price -->
                    </div>
    <!-- /Object info -->
              </div>
  <!-- /Object -->

  <!-- Object -->
  <div class="object important-object">
    <img src="assets/img-temp/important-objects/2.jpg" alt=""><!-- Object photo -->
    <!-- Object info -->
    <div class="important-object-info">
      <h3 class="object__title"><a href="#">Nunc sed tristique mi</a></h3>
      <p>Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi lobortis.</p>
      <!-- Object properties -->
      <ul class="object-properties">
        <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
        <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
        <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
      </ul>
      <!-- /Object properties -->

      <!-- Object raiting & price -->
      <div class="object-raiting-price">
        <div class="object-raiting">
          <ul class="list-inline star-vote">
            <li><i class="g-color-default fa fa-star"></i></li>
            <li><i class="g-color-default fa fa-star"></i></li>
            <li><i class="g-color-default fa fa-star"></i></li>
            <li><i class="g-color-default fa fa-star-half-o"></i></li>
            <li><i class="g-color-default fa fa-star-o"></i></li>
          </ul>
          <a href="#">12 reviews</a>
        </div>
        <div class="object__price">$2.500.000</div>
      </div>
      <!-- /Object raiting & price -->
    </div>
    <!-- /Object info -->
  </div>
  <!-- /Object -->

  <!-- Object -->
  <div class="object important-object">
    <img src="assets/img-temp/important-objects/3.jpg" alt=""><!-- Object photo -->
    <!-- Object info -->
    <div class="important-object-info">
      <h3 class="object__title"><a href="#">Nunc sed tristique mi</a></h3>
      <p>Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi lobortis.</p>
      <!-- Object properties -->
      <ul class="object-properties">
        <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
        <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
        <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
      </ul>
      <!-- /Object properties -->

      <!-- Object raiting & price -->
      <div class="object-raiting-price">
        <div class="object-raiting">
          <ul class="list-inline star-vote">
            <li><i class="g-color-default fa fa-star"></i></li>
            <li><i class="g-color-default fa fa-star"></i></li>
            <li><i class="g-color-default fa fa-star"></i></li>
            <li><i class="g-color-default fa fa-star-half-o"></i></li>
            <li><i class="g-color-default fa fa-star-o"></i></li>
          </ul>
          <a href="#">12 reviews</a>
        </div>
        <div class="object__price">$2.500.000</div>
      </div>
      <!-- /Object raiting & price -->
    </div>
    <!-- /Object info -->
  </div>
  <!-- /Object -->

  <!-- Object -->
  <div class="object important-object">
    <img src="assets/img-temp/important-objects/4.jpg" alt=""><!-- Object photo -->
    <!-- Object info -->
    <div class="important-object-info">
      <h3 class="object__title"><a href="#">Nunc sed tristique mi</a></h3>
      <p>Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi lobortis.</p>
      <!-- Object properties -->
      <ul class="object-properties">
        <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
        <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
        <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
      </ul>
      <!-- /Object properties -->

      <!-- Object raiting & price -->
      <div class="object-raiting-price">
        <div class="object-raiting">
          <ul class="list-inline star-vote">
            <li><i class="g-color-default fa fa-star"></i></li>
            <li><i class="g-color-default fa fa-star"></i></li>
            <li><i class="g-color-default fa fa-star"></i></li>
            <li><i class="g-color-default fa fa-star-half-o"></i></li>
            <li><i class="g-color-default fa fa-star-o"></i></li>
          </ul>
          <a href="#">12 reviews</a>
        </div>
        <div class="object__price">$2.500.000</div>
      </div>
      <!-- /Object raiting & price -->
    </div>
    <!-- /Object info -->
  </div>
  <!-- /Object -->

            </div>
  </div>
  <!-- /Important objects section -->
