  <!-- "Our houses" section -->
  <div class="objects-section g-pb-80" id="our-houses">
          <div class="container">
                  <div class="g-heading-v12 text-center g-max-width--770 g-margin-side-auto g-mb-60">
                          <h2 class="g-mb-20">Our houses</h2>
                          <p>Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi facilisis lobortis. Praesent malesuada facilisis maximus.</p>
                  </div>

                  <div class="row">

                          <div class="col-md-4 col-sm-6 col-xs-12">
    <!-- Object -->
                                  <div class="object object--rent g-mb-30" data-object-type="For rent">

      <!-- Object photo -->
                                          <div class="object-img-wrapper">
                                                  <img src="assets/img-temp/objects/1.jpg" alt="" class="img-responsive">
                                          </div>
      <!-- /Object photo -->

                                          <div class="object-content">
                                                  <div class="object__address"><i class="object__icon icon-hotel-restaurant-235"></i> Muffinski's, 5 King St, London WC2E 8HN</div>
                                                  <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
                                                  <p>Fusce dolor libero, efficitur et lobortis at.</p>

        <!-- Object properties -->
                                          <ul class="object-properties">
                                                  <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
                                                  <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
                                                  <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
                                          </ul>
        <!-- /Object properties -->

        <!-- Object rating & price -->
                                                  <div class="object-raiting-price">
                                                  <div class="object-raiting">
                                                                  <ul class="list-inline star-vote">
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-half-o"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-o"></i></li>
                                                                  </ul>
                                                                  <a href="#">12 reviews</a>
                                                  </div>
                                                  <div class="object__price">$3.500 <em>/ per month</em></div>
                                          </div>
        <!-- /Object rating & price -->
                                  </div>
                                  </div>
    <!-- /Object -->
                          </div>

                          <div class="col-md-4 col-sm-6 col-xs-12">
    <!-- Object -->
                                  <div class="object object--sale g-mb-30" data-object-type="For sale">

      <!-- Object photo -->
                                          <div class="object-img-wrapper">
                                                  <img src="assets/img-temp/objects/2.jpg" alt="" class="img-responsive">
                                          </div>
      <!-- /Object photo -->

                                          <div class="object-content">
                                                  <div class="object__address"><i class="object__icon icon-hotel-restaurant-235"></i> Muffinski's, 5 King St, London WC2E 8HN</div>
                                                  <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
                                                  <p>Fusce dolor libero, efficitur et lobortis at. Proin fermentum turpis eget nisi lobortis.</p>

        <!-- Object properties -->
                                          <ul class="object-properties">
                                                  <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
                                                  <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
                                                  <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
                                          </ul>
        <!-- /Object properties -->

        <!-- Object rating & price -->
                                                  <div class="object-raiting-price">
                                                  <div class="object-raiting">
                                                                  <ul class="list-inline star-vote">
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-half-o"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-o"></i></li>
                                                                  </ul>
                                                                  <a href="#">12 reviews</a>
                                                  </div>
                                                  <div class="object__price">$2.500.000</div>
                                          </div>
        <!-- /Object rating & price -->
                                  </div>
                                  </div>
    <!-- /Object -->
                          </div>

  <div class="clearfix visible-xs-block visible-sm-block"></div><!-- clearfix (xs, sm) -->

                          <div class="col-md-4 col-sm-6 col-xs-12">
    <!-- Object -->
                                  <div class="object object--rent g-mb-30" data-object-type="For rent">

      <!-- Object photo -->
                                          <div class="object-img-wrapper">
                                                  <img src="assets/img-temp/objects/3.jpg" alt="" class="img-responsive">
                                          </div>
      <!-- /Object photo -->

                                          <div class="object-content">
                                                  <div class="object__address"><i class="object__icon icon-hotel-restaurant-235"></i> Muffinski's, 5 King St, London WC2E 8HN</div>
                                                  <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
                                                  <p>Dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi lobortis.</p>

        <!-- Object properties -->
                                          <ul class="object-properties">
                                                  <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
                                                  <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
                                                  <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
                                          </ul>
        <!-- /Object properties -->

        <!-- Object rating & price -->
                                                  <div class="object-raiting-price">
                                                  <div class="object-raiting">
                                                                  <ul class="list-inline star-vote">
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-half-o"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-o"></i></li>
                                                                  </ul>
                                                                  <a href="#">12 reviews</a>
                                                  </div>
                                                  <div class="object__price">$3.500 <em>/ per month</em></div>
                                          </div>
        <!-- /Object rating & price -->
                                  </div>
                                  </div>
    <!-- /Object -->
                          </div>

  <div class="clearfix visible-md-block"></div><!-- clearfix (md) -->

                          <div class="col-md-4 col-sm-6 col-xs-12">
    <!-- Object -->
                                  <div class="object object--rent g-mb-30" data-object-type="For rent">

      <!-- Object photo -->
                                          <div class="object-img-wrapper">
                                                  <img src="assets/img-temp/objects/5.jpg" alt="" class="img-responsive">
                                          </div>
      <!-- /Object photo -->

                                          <div class="object-content">
                                                  <div class="object__address"><i class="object__icon icon-hotel-restaurant-235"></i> Muffinski's, 5 King St, London WC2E 8HN</div>
                                                  <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
                                                  <p>Fusce dolor lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi lobortis.</p>

        <!-- Object properties -->
                                          <ul class="object-properties">
                                                  <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
                                                  <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
                                                  <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
                                          </ul>
        <!-- /Object properties -->

        <!-- Object rating & price -->
                                                  <div class="object-raiting-price">
                                                  <div class="object-raiting">
                                                                  <ul class="list-inline star-vote">
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-half-o"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-o"></i></li>
                                                                  </ul>
                                                                  <a href="#">12 reviews</a>
                                                  </div>
                                                  <div class="object__price">$3.500 <em>/ per month</em></div>
                                          </div>
        <!-- /Object rating & price -->
                                  </div>
                                  </div>
    <!-- /Object -->
                          </div>

  <div class="clearfix visible-xs-block visible-sm-block"></div><!-- clearfix (xs, sm) -->

                          <div class="col-md-4 col-sm-6 col-xs-12">
    <!-- Object -->
                                  <div class="object object--sale g-mb-30" data-object-type="For sale">

      <!-- Object photo -->
                                          <div class="object-img-wrapper">
                                                  <img src="assets/img-temp/objects/6.jpg" alt="" class="img-responsive">
                                          </div>
      <!-- /Object photo -->

                                          <div class="object-content">
                                                  <div class="object__address"><i class="object__icon icon-hotel-restaurant-235"></i> Muffinski's, 5 King St, London WC2E 8HN</div>
                                                  <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
                                                  <p>Fusce dolor libero, efficitur nec nunc. Proin fermentum turpis eget nisi lobortis.</p>

        <!-- Object properties -->
                                          <ul class="object-properties">
                                                  <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
                                                  <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
                                                  <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
                                          </ul>
        <!-- /Object properties -->

        <!-- Object rating & price -->
                                                  <div class="object-raiting-price">
                                                  <div class="object-raiting">
                                                                  <ul class="list-inline star-vote">
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-half-o"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-o"></i></li>
                                                                  </ul>
                                                                  <a href="#">12 reviews</a>
                                                  </div>
                                                  <div class="object__price">$2.500.000</div>
                                          </div>
        <!-- /Object rating & price -->
                                  </div>
                                  </div>
    <!-- /Object -->
                          </div>

                          <div class="col-md-4 col-sm-6 col-xs-12">
    <!-- Object -->
                                  <div class="object object--rent g-mb-30" data-object-type="For rent">

      <!-- Object photo -->
                                          <div class="object-img-wrapper">
                                                  <img src="assets/img-temp/objects/7.jpg" alt="" class="img-responsive">
                                          </div>
      <!-- /Object photo -->

                                          <div class="object-content">
                                                  <div class="object__address"><i class="object__icon icon-hotel-restaurant-235"></i> Muffinski's, 5 King St, London WC2E 8HN</div>
                                                  <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
                                                  <p>Fusce dolor libero, efficitur et lobortis at. Proin fermentum turpis eget nisi lobortis.</p>

        <!-- Object properties -->
                                          <ul class="object-properties">
                                                  <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
                                                  <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
                                                  <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
                                          </ul>
        <!-- /Object properties -->

        <!-- Object rating & price -->
                                                  <div class="object-raiting-price">
                                                  <div class="object-raiting">
                                                                  <ul class="list-inline star-vote">
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-half-o"></i></li>
                                                                          <li><i class="g-color-default fa fa-star-o"></i></li>
                                                                  </ul>
                                                                  <a href="#">12 reviews</a>
                                                  </div>
                                                  <div class="object__price">$3.500 <em>/ per month</em></div>
                                          </div>
        <!-- /Object rating & price -->
                                  </div>
                                  </div>
    <!-- /Object -->
                          </div>

                  </div>
          </div>
  </div>
  <!-- /"Our houses" section -->
