
  <!-- Promo section -->
  <div class="promo-section">
          <div class="master-slider ms-promo-2" id="masterslider-promo">

                  <!-- Slide 1 -->
                  <div class="ms-slide">
                          <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img-temp/promo/1.jpg" alt="ALT">
                          <div class="ms-layer" data-origin="ml" data-type="text" data-effect="fade()" data-ease="easeOutExpo" data-duration="2200">
                                  <strong class="ms-promo-real_estate-price g-mb-25">$3.500 <em>/ per month</em></strong>
                                  <div class="ms-promo-real_estate-place g-mb-35">Apartment in<br> London's center</div>
                                  <div class="ms-promo-real_estate-description">
                                          <a class="btn-u btn-u-lg btn-u-red btn-u-upper" href="#">Learn more</a>
                                  </div>
                          </div>
                          <img class="ms-thumb" src="assets/img-temp/promo/thumbs/1.jpg" alt="ALT">
                  </div>
                  <!-- /Slide 1 -->

                  <!-- Slide 2 -->
                  <div class="ms-slide">
                          <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img-temp/promo/2.jpg" alt="ALT"/>
                          <div class="ms-layer" data-origin="mc" data-type="text" data-effect="fade()" data-ease="easeOutExpo" data-duration="2200">
                                  <strong class="ms-promo-real_estate-price g-mb-25">$3.500 <em>/ per month</em></strong>
                                  <div class="ms-promo-real_estate-place g-mb-35">Apartment in<br> London's center</div>
                                  <div class="ms-promo-real_estate-description">
                                          <p><a class="btn-u btn-u-lg btn-u-red btn-u-upper" href="#">Learn more</a></p>
                                  </div>
                          </div>
                          <img class="ms-thumb" src="assets/img-temp/promo/thumbs/2.jpg" alt="ALT">
                  </div>
                  <!-- /Slide 2 -->

                  <!-- Slide 3 -->
                  <div class="ms-slide">
                          <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img-temp/promo/3.jpg" alt="ALT">
                          <div class="ms-layer" data-origin="mc" data-type="text" data-effect="fade()" data-ease="easeOutExpo" data-duration="2200">
                                  <strong class="ms-promo-real_estate-price g-mb-25">$3.500 <em>/ per month</em></strong>
                                  <div class="ms-promo-real_estate-place g-mb-35">Apartment in<br> London's center</div>
                                  <div class="ms-promo-real_estate-description">
                                          <p><a class="btn-u btn-u-lg btn-u-red btn-u-upper" href="#">Learn more</a></p>
                                  </div>
                          </div>
                          <img class="ms-thumb" src="assets/img-temp/promo/thumbs/3.jpg" alt="ALT">
                  </div>
                  <!-- /Slide 3 -->

                  <!-- Slide 4 -->
                  <div class="ms-slide">
                          <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img-temp/promo/4.jpg" alt="ALT">
                          <div class="ms-layer" data-origin="mc" data-type="text" data-effect="fade()" data-ease="easeOutExpo" data-duration="2200">
                                  <strong class="ms-promo-real_estate-price g-mb-25">$3.500 <em>/ per month</em></strong>
                                  <div class="ms-promo-real_estate-place g-mb-35">Apartment in<br> London's center</div>
                                  <div class="ms-promo-real_estate-description">
                                          <p><a class="btn-u btn-u-lg btn-u-red btn-u-upper" href="#">Learn more</a></p>
                                  </div>
                          </div>
                          <img class="ms-thumb" src="assets/img-temp/promo/thumbs/4.jpg" alt="ALT">
                  </div>
                  <!-- /Slide 4 -->

                  <!-- Slide 5 -->
                  <div class="ms-slide">
                          <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img-temp/promo/5.jpg" alt="ALT">
                          <div class="ms-layer" data-origin="mc" data-type="text" data-effect="fade()" data-ease="easeOutExpo" data-duration="2200">
                                  <strong class="ms-promo-real_estate-price g-mb-25">$3.500 <em>/ per month</em></strong>
                                  <div class="ms-promo-real_estate-place g-mb-35">Apartment in<br> London's center</div>
                                  <div class="ms-promo-real_estate-description">
                                          <p><a class="btn-u btn-u-lg btn-u-red btn-u-upper" href="#">Learn more</a></p>
                                  </div>
                          </div>
                          <img class="ms-thumb" src="assets/img-temp/promo/thumbs/5.jpg" alt="ALT">
                  </div>
                  <!-- /Slide 5 -->

          </div>
  </div>
  <!-- /Promo section -->

