  <!-- Team section -->
  <div class="team-section g-pt-100 g-pb-60" id="agents">
          <div class="container">
                  <div class="g-heading-v12 text-center g-max-width--770 g-margin-side-auto g-mb-60">
                          <h2 class="g-mb-20">Our agents</h2>
                          <p>Ut pulvinar tellus sed elit luctus aliquet. Suspendisse hendrerit sapien a aliquet porttitor. In hendrerit consequat neque eget egestas. In a consectetur felis.</p>
                  </div>

                  <div class="row">
  <!-- Member -->
                          <div class="col-sm-3 col-xs-6 col-3xs-12 g-mb-30">
                                  <img src="assets/img-temp/team/1.jpg" alt="Sam King" class="img-responsive g-mb-25">
                                  <strong class="g-mb-10">Samina Kingstar</strong>
                                  <p class="g-mb-20">Mauris sodales tellus vel</p>
                                  <ul class="list-unstyled">
                                          <li><a href="mailto:"><i class="fa fa-envelope"></i> samina@unify.com</a></li>
                                          <li><a href="whatsapp://send?abid=username&amp;text=Hello%2C%20World!"><i class="fa fa-comment"></i> +48 555 2566 114</a></li>
                                  </ul>
                          </div>
  <!-- /Member -->

  <!-- Member -->
                          <div class="col-sm-3 col-xs-6 col-3xs-12 g-mb-30">
                                  <img src="assets/img-temp/team/2.jpg" alt="Tomas Klepton" class="img-responsive g-mb-25">
                                  <strong class="g-mb-10">Thomas Flemton</strong>
                                  <p class="g-mb-20">Integer blandit velit nec purus convallis</p>
                                  <ul class="list-unstyled">
                                          <li><a href="mailto:"><i class="fa fa-envelope"></i> thomas@unify.com</a></li>
                                          <li><a href="whatsapp://send?abid=username&amp;text=Hello%2C%20World!"><i class="fa fa-comment"></i> +48 555 2566 114</a></li>
                                  </ul>
                          </div>
  <!-- /Member -->

  <!-- Member -->
                          <div class="col-sm-3 col-xs-6 col-3xs-12 g-mb-30">
                                  <img src="assets/img-temp/team/3.jpg" alt="Eric Pyton" class="img-responsive g-mb-25">
                                  <strong class="g-mb-10">Samantha Felly</strong>
                                  <p class="g-mb-20">Proin sollicitudin turpis in massa</p>
                                  <ul class="list-unstyled">
                                          <li><a href="mailto:"><i class="fa fa-envelope"></i> samantha@unify.com</a></li>
                                          <li><a href="whatsapp://send?abid=username&amp;text=Hello%2C%20World!"><i class="fa fa-comment"></i> +48 555 2566 114</a></li>
                                  </ul>
                          </div>
  <!-- /Member -->

  <!-- Member -->
                          <div class="col-sm-3 col-xs-6 col-3xs-12 g-mb-30">
                                  <img src="assets/img-temp/team/4.jpg" alt="Samantha Kelly" class="img-responsive g-mb-25">
                                  <strong class="g-mb-10">Eric Pyton</strong>
                                  <p class="g-mb-20">Vestibulum pulvinar aliquet egestas</p>
                                  <ul class="list-unstyled">
                                          <li><a href="mailto:"><i class="fa fa-envelope"></i> eric@unify.com</a></li>
                                          <li><a href="whatsapp://send?abid=username&amp;text=Hello%2C%20World!"><i class="fa fa-comment"></i> +48 555 2566 114</a></li>
                                  </ul>
                          </div>
  <!-- /Member -->
                  </div>
          </div>
  </div>
  <!-- /Team section -->

