  <!-- Testimonials section -->
  <div class="testimonials-section text-center g-pt-95 g-pb-100" id="testimonials">
          <div class="container">
                  <div class="g-heading-v12 text-center g-max-width--770 g-margin-side-auto g-mb-60">
                          <h2 class="g-mb-20">From our clients</h2>
                          <p>Ut pulvinar tellus sed elit luctus aliquet. Suspendisse hendrerit sapien a aliquet porttitor. In hendrerit consequat neque eget egestas. In a consectetur felis.</p>
                  </div>

                  <!-- Testimonials -->
                  <div class="testimonials-content g-max-width--770 g-margin-side-auto">
  <!-- Testimonial Item -->
                          <div class="item">
                                  <div class="testimonial__img"><img src="assets/img-temp/testimonials/1.jpg" alt=""></div>
                                  <strong class="testimonial__author">Spencer's Family</strong>
                                  <div class="testimonial__text">Ut augue diam, lacinia fringilla erat eu, vehicula commodo quam. Aliquam eget accumsan ligula. Maecenas sit amet consectetur lectus. Suspendisse commodo et magna non pulvinar. Quisque et ultricies sem, et vulputate dui. Morbi aliquam leo id ipsum tempus mollis.</div>
                          </div>
  <!-- /Testimonial Item -->

  <!-- Testimonial Item -->
                          <div class="item">
                                  <div class="testimonial__img"><img src="assets/img-temp/testimonials/2.jpg" alt=""></div>
                                  <strong class="testimonial__author">Melani Shnaider</strong>
                                  <div class="testimonial__text">Ut augue diam, lacinia fringilla erat eu, vehicula commodo quam. Aliquam eget accumsan ligula. Morbi aliquam leo id ipsum tempus mollis.</div>
                          </div>
  <!-- /Testimonial Item -->
                  </div>
                  <!-- /Testimonials -->
          </div>
  </div>
  <!-- /Testimonials section -->
