Mezzanine>=4.2.2

# from JJW - where to put idem?
#html5lib
html5lib==1.0b8
oauthlib

# Optional mezz apps, imported if present:
django-debug-toolbar
django_extensions
django-compressor

# also need to ./manage.py migrate somewhere
