<!doctype html>
<!--[if IE 8]> <html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}> <!--<![endif]-->
{% load pages_tags mezzanine_tags i18n staticfiles %}
<head>
  <title>{% firstof page_title title settings.SITE_TITLE "The Last Libre Group" %}</title>

  {# This base.html is based on Unify feature_header_default_fixed.html - JJW #}

  <!-- Meta -->
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1.0">
  <meta name=description content="{% firstof meta_description description 'Open Source expertise, knowledge, business models, consulting, and services since 1999' %}">
  <meta name=author content="{% firstof meta_author author 'The Libre Group' %}">

  <meta name=title content="{% firstof meta_title title 'The Libre Group' %}">
  <meta name=keywords content="{% firstof meta_keywords keywords 'Open Source, Red Hat, Ubuntu, Linux Mint, Debian, Black Duck, Ohloh, Open Core, Consulting, managed services' %}">
  <meta name=google-site-verification content=4QorVb8Z51YbHLZ5hPfk3TQJjblIY43ByE6qFw2-dLU>
  <meta name=msvalidate.01 content=E830B9E86F26F425F9F7800DA21086EC>
  <meta name=DC.title content="Line server, AMD opteron rack server, Storage servers, NAS server, Open source systems, Cloud server">
  <meta name=geo.region content=US-CA>
  <meta name=geo.placename content="Los Gatos">
  <meta name=geo.position content=37.235808;-121.962375>
  <meta name=ICBM content=37.235808;-121.962375>
  <meta name=robots content=noodp,noydir>

  <!-- Favicon -->
  <link href=favicon.ico rel="shortcut icon">

  <!-- Web Fonts -->
  <link type=text/css href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin" rel=stylesheet>

  {% compress css %}

  <!-- CSS Global Compulsory -->
  <link href=/unify-assets/plugins/bootstrap/css/bootstrap.min.css rel=stylesheet>
  <link href=/unify-assets/css/style.css rel=stylesheet>

  <!-- CSS Header and Footer -->
  <link href=/unify-assets/css/headers/header-default.css rel=stylesheet>
  <link href=/unify-assets/css/footers/footer-v1.css rel=stylesheet>

  <!-- CSS Implementing Plugins -->
  <link href=/unify-assets/plugins/animate.css rel=stylesheet>
  <link href=/unify-assets/plugins/line-icons/line-icons.css rel=stylesheet>
  <link href=/unify-assets/plugins/font-awesome/css/font-awesome.min.css rel=stylesheet>

  {% if is_home %}
  <link href=/unify-assets/plugins/parallax-slider/css/parallax-slider.css rel=stylesheet>
  <style>
    .da-slider { background: transparent url({% firstof settings.ORG_SLIDER_IMG|safe '../img/bg.jpg' %}) repeat 0% 0%; }
  </style>
  {% endif %}

  <link href=/unify-assets/plugins/owl-carousel/owl-carousel/owl.carousel.css rel=stylesheet>

  <!-- CSS Theme -->
  <link href=/unify-assets/css/theme-colors/{{ settings.ORG_THEME_COLOR }}.css rel=stylesheet id=style_color>
  <link href=/unify-assets/css/theme-skins/dark.css rel=stylesheet>

  <!-- CSS Customization - unify one was empty, so moved to home theme - JJW -->
  <link href=/css/custom.css rel=stylesheet>

  {% block extra_css %}
  <!-- block extra_css -->
  <style>
  {{ settings.SITE_STYLES }}
  </style>
  {% endblock %}

  <!-- Appended styles -->
  <style>
  .header .logo img { margin: 0; display: inline-block; }
  .header .logo .navbar-text { float: right; font-size: medium; font-style: italic; margin-top: 18px; }
  .header-fixed-shrink .logo .navbar-text { margin-top: 60px; }
  .header-fixed-shrink .logo img { margin-top: 35px; }
  .header .navbar-brand { padding: 10px 0; }
  .header-fixed .header.header-sticky, .header-fixed .header.header-fixed-shrink { transition: None; }
  {% if is_home %}
  {% endif %}
  </style>

  {% endcompress %}

  {% block head_bottom %} <!-- block head_bottom (after compress) -->  {% endblock head_bottom %}
</head>


<body class="header-fixed header-fixed-space-default" id="{% block body_id %}body{% endblock %}">
{{ google_analytics }}

<div class=wrapper>

  {% include "_header.html" %}

  {# Breadcrumbs and Slider #}
  {% if is_home %}
  {% include '_slider.html' %}
  {% else %}
  {% include '_breadcrumbs.html' %}
  {% endif %}

  {# messages #}
  {% nevercache %}
  {% if messages %}
  <div class="container messages">
  {% for message in messages %}
  <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
  </div>
  {% endif %}
  {% endnevercache %}


  {# HERE TODO - move to call-to-action #}
    <!--=== Purchase Block ===-->
    <div class=purchase>
        <div class=container>
            <div class=row>
                <div class="col-md-9 animated fadeInLeft">
                    <span>{{ page.homepage.call_to_action.title }}</span>
                    <p>{{ page.homepage.call_to_action.content }}</p>
                </div>
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href=# class="btn-u btn-u-lg"><i class="fa fa-cloud-download"></i> Download Now</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->

    {# HERE - move to content block, either _home_content or inh template #}
    <!--=== Content Part ===-->
    <div class="container content-sm">
        <!-- Service Blocks -->
        <div class="row margin-bottom-30">

            {# HERE TODO - possibly move to row-of-three template #}

            {% for blurb in page.homepage.row_of_three %}
            <div class=col-md-4>
                <div class=service>
                    <i class="fa {% firstof blurb.html "fa-compress" %} service-icon"></i>
                    <div class=desc>
                        <h4>{{ blurb.title }}</h4>
                        <p>{{ blurb.content }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- div class=col-md-4>
                <div class=service>
                    <i class="fa fa-compress service-icon"></i>
                    <div class=desc>
                        <h4>Fully Responsive</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                    </div>
                </div>
            </div>
            <div class=col-md-4>
                <div class=service>
                    <i class="fa fa-cogs service-icon"></i>
                    <div class=desc>
                        <h4>HTML5 + CSS3</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                    </div>
                </div>
            </div>
            <div class=col-md-4>
                <div class=service>
                    <i class="fa fa-rocket service-icon"></i>
                    <div class=desc>
                        <h4>Launch Ready</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                    </div>
                </div>
            </div -->
        </div>
        <!-- End Service Blokcs -->

                <!-- Recent Works -->
        <div class=headline><h2>{{ page.homepage.featured_works_heading }}</h2></div>
        <div class="row margin-bottom-20">

          {# HERE TODO - possibly move to row-of-four template #}

          {% for blurb in page.homepage.row_of_four %}

            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class=thumbnail-img>
                        <div class=overflow-hidden>
                            <img class=img-responsive alt="{{ blurb.title }}" src="/static/media/{{ blurb.image }}">
                        </div>
                        <a href="{{ blurb.link }}" class="btn-more hover-effect">read more +</a>
                    </div>
                    <div class=caption>
                        <h3><a href="{{ blurb.link }}" class=hover-effect>{{ blurb.title }}</a></h3>
                        <p>{{ blurb.content }}porta sem.</p>
                    </div>
                </div>
            </div>

            {% endfor %}

            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class=thumbnail-img>
                        <div class=overflow-hidden>
                            <img class=img-responsive alt="" src=/unify-assets/img/main/img12.jpg>
                        </div>
                        <a href=# class="btn-more hover-effect">read more +</a>
                    </div>
                    <div class=caption>
                        <h3><a href=# class=hover-effect>Project Two</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class=thumbnail-img>
                        <div class=overflow-hidden>
                            <img class=img-responsive alt="" src=/unify-assets/img/main/img3.jpg>
                        </div>
                        <a href=# class="btn-more hover-effect">read more +</a>
                    </div>
                    <div class=caption>
                        <h3><a href=# class=hover-effect>Project Three</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class=thumbnail-img>
                        <div class=overflow-hidden>
                            <img class=img-responsive alt="" src=/unify-assets/img/main/img17.jpg>
                        </div>
                        <a href=# class="btn-more hover-effect">read more +</a>
                    </div>
                    <div class=caption>
                        <h3><a href=# class=hover-effect>Project Four</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Recent Works -->

        <!-- Info Blokcs -->
        <div class="row margin-bottom-30">
            <!-- Welcome Block -->
            <div class="col-md-8 md-margin-bottom-40">
                <div class=headline><h2>Welcome To Unify</h2></div>
                <div class=row>
                    <div class=col-sm-4>
                        <img class="img-responsive margin-bottom-20" alt="" src=/unify-assets/img/main/img18.jpg>
                    </div>
                    <div class=col-sm-8>
                        <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                            <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                        </ul>
                    </div>
                </div>

                <blockquote class=hero-unify>
                    <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
                    <small>CEO, Jack Bour</small>
                </blockquote>
            </div><!--/col-md-8-->

            <!-- Latest Shots -->
            <div class=col-md-4>
                <div class=headline><h2>Latest Shots</h2></div>
                <div class="carousel slide carousel-v1" id=myCarousel>
                    <div class=carousel-inner>
                        <div class="item active">
                            <img alt="" src=/unify-assets/img/main/img4.jpg>
                            <div class=carousel-caption>
                                <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                            </div>
                        </div>
                        <div class=item>
                            <img alt="" src=/unify-assets/img/main/img2.jpg>
                            <div class=carousel-caption>
                                <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                            </div>
                            </div>
                        <div class=item>
                            <img alt="" src=/unify-assets/img/main/img24.jpg>
                            <div class=carousel-caption>
                                <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                            </div>
                        </div>
                    </div>

                    <div class=carousel-arrow>
                        <a href=#myCarousel class="left carousel-control" data-slide=prev>
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href=#myCarousel class="right carousel-control" data-slide=next>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div><!--/col-md-4-->
        </div>
        <!-- End Info Blokcs -->

        <!-- Owl Clients v1 -->
        <div class=headline><h2>Our Clients</h2></div>
        <div class=owl-clients-v1>
          {% for blurb in page.homepage.client_icon_list %}
            <div class=item>
                {% if blurb.link %}<a href="{{ blurb.link }}">{% endif %}
                <img alt="{{ blurb.content }}" title="{{ blurb.title }}" src="/static/media/{{ blurb.image }}">
                {% if blurb.link %}</a>{% endif %}
            </div>
          {% endfor %}
            <div class=item>
                <img alt="" src=/unify-assets/img/clients4/2.png>
            </div>
            <div class=item>
                <img alt="" src=/unify-assets/img/clients4/3.png>
            </div>
            <div class=item>
                <img alt="" src=/unify-assets/img/clients4/4.png>
            </div>
            <div class=item>
                <img alt="" src=/unify-assets/img/clients4/5.png>
            </div>
            <div class=item>
                <img alt="" src=/unify-assets/img/clients4/6.png>
            </div>
            <div class=item>
                <img alt="" src=/unify-assets/img/clients4/7.png>
            </div>
            <div class=item>
                <img alt="" src=/unify-assets/img/clients4/8.png>
            </div>
            <div class=item>
                <img alt="" src=/unify-assets/img/clients4/9.png>
            </div>
        </div>
        <!-- End Owl Clients v1 -->
    </div><!--/container-->
    <!-- End Content Part -->

 {% include "_footer.html" %}

</div><!--/wrapper-->

<!-- JS Global Compulsory -->

{% block compress_js_bottom %}
<script type=text/javascript src=/unify-assets/plugins/jquery/jquery.min.js></script>
<script type=text/javascript src=/unify-assets/plugins/jquery/jquery-migrate.min.js></script>
<script type=text/javascript src=/unify-assets/plugins/bootstrap/js/bootstrap.min.js></script>
<!-- JS Implementing Plugins -->
<script type=text/javascript src=/unify-assets/plugins/back-to-top.js></script>
<script type=text/javascript src=/unify-assets/plugins/smoothScroll.js></script>
<script type=text/javascript src=/unify-assets/plugins/parallax-slider/js/modernizr.js></script>
<script type=text/javascript src=/unify-assets/plugins/parallax-slider/js/jquery.cslider.js></script>
<script type=text/javascript src=/unify-assets/plugins/owl-carousel/owl-carousel/owl.carousel.js></script>
<!-- JS Customization -->
<script type=text/javascript src=/unify-assets/js/custom.js></script>
<!-- JS Page Level -->
<script type=text/javascript src=/unify-assets/js/app.js></script>
<script type=text/javascript src=/unify-assets/js/plugins/owl-carousel.js></script>
<script type=text/javascript src=/unify-assets/js/plugins/style-switcher.js></script>
<script type=text/javascript src=/unify-assets/js/plugins/parallax-slider.js></script>
<script type=text/javascript>
    jQuery(document).ready(function() {
        App.init();
        OwlCarousel.initOwlCarousel();
        StyleSwitcher.initStyleSwitcher();
        ParallaxSlider.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="/unify-assets/plugins/respond.js"></script>
    <script src="/unify-assets/plugins/html5shiv.js"></script>
    <script src="/unify-assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->




{{ js|default:'<!-- empty js variable-->' }}
{{ quick_scripts|safe }}
{% block js %} <!-- block js --> {% endblock %}
{{ clicky }}



<!-- Appended scripts -->


<script>
/* None */
</script>
{% endblock %}

{% block js_bottom %} <!-- block js_bottom (after compress) --> {% endblock js_bottom %}

</body>
</html>
