/* Custom css to modify Unify theme, home app, tlg, 10/25/16 JJW */
/* From parallax-slider.css */
/* /home/joe/tlg/themes/unify/HTML/assets/plugins/parallax-slider/css/parallax-slider.css */

@-webkit-keyframes toLeftAnim1{
  0%{ left: 10%;  opacity: 1; }
  /* 30%{ left: 15%;  opacity: 1; } */
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
  0%{ left: 10%;  opacity: 1; }
  /* 30%{ left: 15%;  opacity: 1; } */
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
  0%{ left: 10%;  opacity: 1; }
  /* 99%{ left: 10%; opacity: 0; } */
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
  0%{ left: 60%;  opacity: 1; }
  /* 40%{ left: 70%;  opacity: 1; } */
  /* 90%{ left: 0%;  opacity: 0; } */
  100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
  0%{ left: 10%;  opacity: 1; }
  /* 30%{ left: 15%;  opacity: 1; } */
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
  0%{ left: 10%;  opacity: 1; }
  /* 30%{ left: 15%;  opacity: 1; } */
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
  0%{ left: 10%;  opacity: 1; }
  /* 99%{ left: 10%; opacity: 0; } */
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
  0%{ left: 60%;  opacity: 1; }
  /* 40%{ left: 70%;  opacity: 1; } */
  /* 90%{ left: 0%;  opacity: 0; } */
  100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
  0%{ left: 10%;  opacity: 1; }
  /* 30%{ left: 15%;  opacity: 1; } */
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
  0%{ left: 10%;  opacity: 1; }
  /* 30%{ left: 15%;  opacity: 1; } */
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
  0%{ left: 10%;  opacity: 1; }
  /* 99%{ left: 10%; opacity: 0; } */
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
  0%{ left: 60%;  opacity: 1; }
  /* 40%{ left: 70%;  opacity: 1; } */
  /* 90%{ left: 0%;  opacity: 0; } */
  100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
  0%{ left: 10%;  opacity: 1; }
  /* 30%{ left: 15%;  opacity: 1; } */
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
  0%{ left: 10%;  opacity: 1; }
  /* 30%{ left: 15%;  opacity: 1; } */
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
  0%{ left: 10%;  opacity: 1; }
  /* 99%{ left: 10%; opacity: 0; } */
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
  0%{ left: 60%;  opacity: 1; }
  /* 40%{ left: 70%;  opacity: 1; } */
  /* 90%{ left: 0%;  opacity: 0; } */
  100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
  0%{ left: 10%;  opacity: 1; }
  /*30%{ left: 15%;  opacity: 1; }*/
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
  0%{ left: 10%;  opacity: 1; }
  /*30%{ left: 15%;  opacity: 1; }*/
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
  0%{ left: 10%;  opacity: 1; }
  /*99%{ left: 10%; opacity: 0; }*/
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
  0%{ left: 60%;  opacity: 1; }
  /*40%{ left: 70%;  opacity: 1; }*/
  /*90%{ left: 0%;  opacity: 0; }*/
  100%{ left: -50%; opacity: 0; }
}

/* Slide out to the right */

.da-slide-toright h2{
	-webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-o-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
	animation: toRightAnim1 0.6s ease-in 0.6s both;
}
.da-slide-toright p{
	-webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-o-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
	animation: toRightAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toright .da-link{
	-webkit-animation: toRightAnim3 0.4s ease-in both;
	-moz-animation: toRightAnim3 0.4s ease-in both;
	-o-animation: toRightAnim3 0.4s ease-in both;
	-ms-animation: toRightAnim3 0.4s ease-in both;
	animation: toRightAnim3 0.4s ease-in both;
}
.da-slide-toright .da-img{
	-webkit-animation: toRightAnim4 0.6s ease-in both;
	-moz-animation: toRightAnim4 0.6s ease-in both;
	-o-animation: toRightAnim4 0.6s ease-in both;
	-ms-animation: toRightAnim4 0.6s ease-in both;
	animation: toRightAnim4 0.6s ease-in both;
}

@-webkit-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	/*99%{ left: 10%; opacity: 0; }*/
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	/*30%{ left: 55%;  opacity: 1; }*/
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	/*99%{ left: 10%; opacity: 0; }*/
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	/*30%{ left: 55%;  opacity: 1; }*/
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	/*99%{ left: 10%; opacity: 0; }*/
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	/*30%{ left: 55%;  opacity: 1; }*/
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	/*99%{ left: 10%; opacity: 0; }*/
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	/*30%{ left: 55%;  opacity: 1; }*/
	100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	/*99%{ left: 10%; opacity: 0; }*/
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	/*30%{ left: 55%;  opacity: 1; }*/
	100%{ left: 100%; opacity: 0; }
}
