<div class=footer-v1><div class=footer-v1>
		<div class=footer>
			<div class=container>
				<div class=row>
					<!-- About -->
					<div class="col-md-3 md-margin-bottom-40">
						<a href=index.html><img class=footer-logo id=logo-footer alt="Libre Logo" src=/static/img/logo-cropped-104x56.png></a>
						<p>About The Libre Group - dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.
<p>0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
</div><!--/col-md-3-->
					<!-- End About -->

					<!-- Latest -->
					<div class="col-md-3 md-margin-bottom-40">
						<div class=posts>
							<div class=headline><h2>Column 2 Headline</h2></div>
							<ul class="list-unstyled latest-list">
								<li>
									<a href=#>Incredible content</a>
									<small>May 8, 2014</small>
								</li>
								<li>
									<a href=#>Best shoots</a>
									<small>June 23, 2014</small>
								</li>
								<li>
									<a href=#>New Terms and Conditions</a>
									<small>September 15, 2014</small>
								</li>
							</ul>
						</div>
					</div><!--/col-md-3-->
					<!-- End Latest -->

					<!-- Link List -->
					<div class="col-md-3 md-margin-bottom-40">
						<div class=headline><h2>Useful Links</h2></div>
						<ul class="list-unstyled link-list">
							<li><a href=#>About us</a><i class="fa fa-angle-right"></i></li>
							<li><a href=#>Portfolio</a><i class="fa fa-angle-right"></i></li>
							<li><a href=#>Latest jobs</a><i class="fa fa-angle-right"></i></li>
							<li><a href=#>Community</a><i class="fa fa-angle-right"></i></li>
							<li><a href=#>Contact us</a><i class="fa fa-angle-right"></i></li>
						</ul>
					</div><!--/col-md-3-->
					<!-- End Link List -->

					<!-- Address -->
					<div class="col-md-3 map-img md-margin-bottom-40">
						<div class=headline><h2>Contact Us</h2></div>
						<address class=md-margin-bottom-40>
							25, Lorem Lis Street, Orange <br>
							California, US <br>
							Phone: 800 123 3456 <br>
							Fax: 800 123 3456 <br>
							Email: <a href=mailto:info@anybiz.com class="">info@anybiz.com</a>
						</address>
					</div><!--/col-md-3-->
					<!-- End Address -->
				</div>
			</div>
		</div><!--/footer-->

		<div class=copyright>
			<div class=container>
				<div class=row>
					<div class=col-md-6>
						<p>
							2016 © All Rights Reserved.
						   <a href=#>Privacy Policy</a> | <a href=#>Terms of Service</a>
						</p>
					</div>

					<!-- Social Links -->
					<div class=col-md-6>
						<ul class="footer-socials list-inline">
							<li>
								<a data-toggle=tooltip title="" data-placement=top href=# data-original-title=Facebook class=tooltips>
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a data-toggle=tooltip title="" data-placement=top href=# data-original-title=Skype class=tooltips>
									<i class="fa fa-skype"></i>
								</a>
							</li>
							<li>
								<a data-toggle=tooltip title="" data-placement=top href=# data-original-title="Google Plus" class=tooltips>
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a data-toggle=tooltip title="" data-placement=top href=# data-original-title=Linkedin class=tooltips>
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a data-toggle=tooltip title="" data-placement=top href=# data-original-title=Pinterest class=tooltips>
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
							<li>
								<a data-toggle=tooltip title="" data-placement=top href=# data-original-title=Twitter class=tooltips>
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a data-toggle=tooltip title="" data-placement=top href=# data-original-title=Dribbble class=tooltips>
									<i class="fa fa-dribbble"></i>
								</a>
							</li>
						</ul>
					</div>
					<!-- End Social Links -->
				</div>
			</div>
		</div><!--/copyright-->
	</div>
	</div><!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type=text/javascript src=assets/plugins/jquery/jquery.min.js></script>
<script type=text/javascript src=assets/plugins/jquery/jquery-migrate.min.js></script>
<script type=text/javascript src=assets/plugins/bootstrap/js/bootstrap.min.js></script>
<!-- JS Implementing Plugins -->
<script type=text/javascript src=assets/plugins/back-to-top.js></script>
<script type=text/javascript src=assets/plugins/smoothScroll.js></script>
<script type=text/javascript src=assets/plugins/parallax-slider/js/modernizr.js></script>
<script type=text/javascript src=assets/plugins/parallax-slider/js/jquery.cslider.js></script>
<script type=text/javascript src=assets/plugins/owl-carousel/owl-carousel/owl.carousel.js></script>
<!-- JS Customization -->
<script type=text/javascript src=assets/js/custom.js></script>
<!-- JS Page Level -->
<script type=text/javascript src=assets/js/app.js></script>
<script type=text/javascript src=assets/js/plugins/owl-carousel.js></script>
<script type=text/javascript src=assets/js/plugins/style-switcher.js></script>
<script type=text/javascript src=assets/js/plugins/parallax-slider.js></script>
<script type=text/javascript>
	jQuery(document).ready(function() {
		App.init();
	  OwlCarousel.initOwlCarousel();
	  StyleSwitcher.initStyleSwitcher();
	  ParallaxSlider.initParallaxSlider();
	});
</script>
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->



