  <!-- Footer -->
  <div class="footer text-center g-pt-70 g-pb-30 g-color-white--darkest">
  <!-- Footer Row 1 -->
          <div class="container g-mb-25">
                  <img src="assets/img/logo-light.png" alt="Logo" width="200" class="g-mb-40 footer__logo">
  <!-- Footer Icons -->
                  <ul class="list-inline">
                          <li>
                                  <a class="footer__social" href="#">
                                          <i class="icon-custom icon-sm rounded-x fa fa-twitter"></i>
                                  </a>
                          </li>
                          <li>
                                  <a class="footer__social" href="#">
                                          <i class="icon-custom icon-sm rounded-x fa fa-pinterest-p"></i>
                                  </a>
                          </li>
                          <li>
                                  <a class="footer__social" href="#">
                                          <i class="icon-custom icon-sm rounded-x fa fa-facebook"></i>
                                  </a>
                          </li>
                          <li>
                                  <a class="footer__social" href="#">
                                          <i class="icon-custom icon-sm rounded-x fa fa-linkedin"></i>
                                  </a>
                          </li>
                  </ul>
  <!-- /Footer Icons -->

                  <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                                  <p>Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi facilisis lobortis. Praesent malesuada facilisis maximus. Donec sed lobortis tortor.</p>
                          </div>
                  </div>
          </div>
          <!-- /Footer Row 1 -->

          <hr>

          <!-- Footer Row 2 -->
          <div class="container">
                  <div class="row">
                          <!-- Footer Row 2 Col. 1 -->
                          <div class="col-md-3 col-xs-6 col-2xs-12 g-mb-25">
                                  <h3 class="g-color-white">Categories</h3>
                                  <ul class="list-unstyled">
                                          <li><a href="#">Proin vitae est lorem</a></li>
                                          <li><a href="#">Aenean imperdiet nisi</a></li>
                                          <li><a href="#">Praesent pulvinar gravida</a></li>
                                          <li><a href="#">Integer commodo est</a></li>
                                  </ul>
                          </div>
                          <!-- /Footer Row 2 Col. 1 -->
                          <!-- Footer Row 2 Col. 2 -->
                          <div class="col-md-3 col-xs-6 col-2xs-12 g-mb-25">
                                  <h3 class="g-color-white">Customer support</h3>
                                  <ul class="list-unstyled">
                                          <li><a href="#">Vivamus egestas sapien</a></li>
                                          <li><a href="#">Sed convallis nec enim</a></li>
                                          <li><a href="#">Pellentesque a tristique risus</a></li>
                                          <li><a href="#">Nunc vitae libero lacus</a></li>
                                  </ul>
                          </div>
                          <!-- /Footer Row 2 Col. 2 -->
                          <!-- Footer Row 2 Col. 3 -->
                          <div class="col-md-3 col-xs-6 col-2xs-12 g-mb-25">
                                  <h3 class="g-color-white">Top link</h3>
                                  <ul class="list-unstyled">
                                          <li><a href="#">Pellentesque a tristique risus</a></li>
                                          <li><a href="#">Nunc vitae libero lacus</a></li>
                                          <li><a href="#">Praesent pulvinar gravida</a></li>
                                          <li><a href="#">Integer commodo est</a></li>
                                  </ul>
                          </div>
                          <!-- /Footer Row 2 Col. 3 -->
                          <!-- Footer Row 2 Col. 4 -->
                          <div class="col-md-3 col-xs-6 col-2xs-12 g-mb-25">
                                  <h3 class="g-color-white">Usefull links</h3>
                                  <ul class="list-unstyled">
                                          <li><a href="#">Praesent pulvinar gravida</a></li>
                                          <li><a href="#">Integer commodo est</a></li>
                                          <li><a href="#">Praesent pulvinar gravida</a></li>
                                          <li><a href="#">Integer commodo est</a></li>
                                  </ul>
                          </div>
                          <!-- /Footer Row 2 Col. 4 -->
                  </div>
          </div>
          <!-- /Footer Row 2 -->

          <hr>

    <div class="container">
    &copy; 2016 All right reserved. Unify development by <a href="https://htmlstream.com" target="_blank" class="g-color-white">Htmlstream</a>
    </div>

  </div>
  <!-- /Footer -->
