  <!-- Popular objects section -->
  <div class="popular-objects-section g-pt-100 g-pb-80" id="flats-for-rent">
          <div class="container-fluid">
                  <div class="g-heading-v12 text-center g-max-width--770 g-margin-side-auto g-mb-60">
                          <h2 class="g-mb-20">Popular flats for rent</h2>
                          <p>Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. Cras porttitor auctor sapien eu tempus nunc placerat</p>
                  </div>

                  <div class="popular-objects-list">
  <!-- Object -->
                          <div class="object">
                                  <div class="object__price">$3.500<em>/ per month</em></div>
                                  <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
    <!-- Object raiting -->
                                  <div class="object-raiting">
                                          <ul class="list-inline star-vote">
                                                  <li><i class="g-color-default fa fa-star"></i></li>
                                                  <li><i class="g-color-default fa fa-star"></i></li>
                                                  <li><i class="g-color-default fa fa-star"></i></li>
                                                  <li><i class="g-color-default fa fa-star-half-o"></i></li>
                                                  <li><i class="g-color-default fa fa-star-o"></i></li>
                                          </ul>
                                          <a href="#">12 reviews</a>
                                  </div>
    <!-- /Object raiting -->
                                  <div class="object-img-wrapper">
                                          <img src="assets/img-temp/popular-objects/1.jpg" alt="" class="img-responsive">
                                  </div>
    <!-- Object properties -->
                          <ul class="object-properties">
                                  <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
                                  <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
                                  <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
                          </ul>
    <!-- /Object properties -->
                          </div>
  <!-- /Object -->

  <!-- Object -->
  <div class="object">
    <div class="object__price">$3.500<em>/ per month</em></div>
    <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
    <!-- Object raiting -->
    <div class="object-raiting">
      <ul class="list-inline star-vote">
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star-half-o"></i></li>
        <li><i class="g-color-default fa fa-star-o"></i></li>
      </ul>
      <a href="#">12 reviews</a>
    </div>
    <!-- /Object raiting -->
    <div class="object-img-wrapper">
      <img src="assets/img-temp/popular-objects/5.jpg" alt="" class="img-responsive">
    </div>
    <!-- Object properties -->
    <ul class="object-properties">
      <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
      <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
      <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
    </ul>
    <!-- /Object properties -->
  </div>
  <!-- /Object -->

  <!-- Object -->
  <div class="object">
    <div class="object__price">$3.500<em>/ per month</em></div>
    <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
    <!-- Object raiting -->
    <div class="object-raiting">
      <ul class="list-inline star-vote">
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star-half-o"></i></li>
        <li><i class="g-color-default fa fa-star-o"></i></li>
      </ul>
      <a href="#">12 reviews</a>
    </div>
    <!-- /Object raiting -->
    <div class="object-img-wrapper">
      <img src="assets/img-temp/popular-objects/3.jpg" alt="" class="img-responsive">
    </div>
    <!-- Object properties -->
    <ul class="object-properties">
      <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
      <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
      <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
    </ul>
    <!-- /Object properties -->
  </div>
  <!-- /Object -->

  <!-- Object -->
  <div class="object">
    <div class="object__price">$3.500<em>/ per month</em></div>
    <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
    <!-- Object raiting -->
    <div class="object-raiting">
      <ul class="list-inline star-vote">
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star-half-o"></i></li>
        <li><i class="g-color-default fa fa-star-o"></i></li>
      </ul>
      <a href="#">12 reviews</a>
    </div>
    <!-- /Object raiting -->
    <div class="object-img-wrapper">
      <img src="assets/img-temp/popular-objects/4.jpg" alt="" class="img-responsive">
    </div>
    <!-- Object properties -->
    <ul class="object-properties">
      <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
      <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
      <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
    </ul>
    <!-- /Object properties -->
  </div>
  <!-- /Object -->

  <!-- Object -->
  <div class="object">
    <div class="object__price">$3.500<em>/ per month</em></div>
    <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
    <!-- Object raiting -->
    <div class="object-raiting">
      <ul class="list-inline star-vote">
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star-half-o"></i></li>
        <li><i class="g-color-default fa fa-star-o"></i></li>
      </ul>
      <a href="#">12 reviews</a>
    </div>
    <!-- /Object raiting -->
    <div class="object-img-wrapper">
      <img src="assets/img-temp/popular-objects/2.jpg" alt="" class="img-responsive">
    </div>
    <!-- Object properties -->
    <ul class="object-properties">
      <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
      <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
      <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
    </ul>
    <!-- /Object properties -->
  </div>
  <!-- /Object -->

  <!-- Object -->
  <div class="object">
    <div class="object__price">$3.500<em>/ per month</em></div>
    <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
    <!-- Object raiting -->
    <div class="object-raiting">
      <ul class="list-inline star-vote">
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star-half-o"></i></li>
        <li><i class="g-color-default fa fa-star-o"></i></li>
      </ul>
      <a href="#">12 reviews</a>
    </div>
    <!-- /Object raiting -->
    <div class="object-img-wrapper">
      <img src="assets/img-temp/popular-objects/6.jpg" alt="" class="img-responsive">
    </div>
    <!-- Object properties -->
    <ul class="object-properties">
      <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
      <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
      <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
    </ul>
    <!-- /Object properties -->
  </div>
  <!-- /Object -->

  <!-- Object -->
  <div class="object">
    <div class="object__price">$3.500<em>/ per month</em></div>
    <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
    <!-- Object raiting -->
    <div class="object-raiting">
      <ul class="list-inline star-vote">
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star"></i></li>
        <li><i class="g-color-default fa fa-star-half-o"></i></li>
        <li><i class="g-color-default fa fa-star-o"></i></li>
      </ul>
      <a href="#">12 reviews</a>
    </div>
    <!-- /Object raiting -->
    <div class="object-img-wrapper">
      <img src="assets/img-temp/popular-objects/7.jpg" alt="" class="img-responsive">
    </div>
    <!-- Object properties -->
    <ul class="object-properties">
      <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
      <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
      <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
    </ul>
    <!-- /Object properties -->
  </div>
  <!-- /Object -->
                  </div>
          </div>
  </div>
  <!-- /Popular objects section -->

