  <!-- Special objects section -->
  <div class="special-objects-section g-pb-80" id="special-offers">
          <div class="container">
                  <div class="g-heading-v12 g-mb-60">
                          <h2>Special offers</h2>
                  </div>

                  <div class="special-objects-list g-color-white--darkest">
  <!-- Object -->
                          <div class="object">
                                  <div class="object-img-wrapper" style="background-image: url(assets/img-temp/special-objects/1.jpg);">
                                  </div>
    <!-- Object info -->
                                  <div class="special-object-info">
                                          <div class="object__address"><i class="object__icon icon-hotel-restaurant-235"></i> Muffinski's, 5 King St, London WC2E 8HN</div>
                                          <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
                                          <p>Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi lobortis.</p>

      <!-- Object properties -->
                                  <ul class="object-properties">
                                          <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
                                          <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
                                          <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
                                  </ul>
      <!-- /Object properties -->

      <!-- Object price -->
                                          <div class="object-price-more">
                                          <div class="object__price"><strike>$1.750.000</strike> $1.500.000</div>
                                          <div class="object__more"><a class="btn-u btn-u-lg btn-u-red btn-u-upper" href="#">Learn more</a></div>
                                  </div>
      <!-- /Object price -->
                          </div>
    <!-- /Object info -->
                          </div>
  <!-- /Object -->

  <!-- Object -->
  <div class="object">
    <div class="object-img-wrapper" style="background-image: url(assets/img-temp/special-objects/2.jpg);">
    </div>
    <!-- Object info -->
    <div class="special-object-info">
      <div class="object__address"><i class="object__icon icon-hotel-restaurant-235"></i> Muffinski's, 5 King St, London WC2E 8HN</div>
      <h3 class="object__title"><a href="#">Ut pulvinar tellus sed elit luctus</a></h3>
      <p>Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi lobortis.</p>

      <!-- Object properties -->
      <ul class="object-properties">
        <li><i class="object__icon icon-hotel-restaurant-022"></i> 4</li>
        <li><i class="object__icon icon-hotel-restaurant-158"></i> 2</li>
        <li><i class="object__icon icon-real-estate-017"></i> 130&nbsp;sqft</li>
      </ul>
      <!-- /Object properties -->

      <!-- Object price -->
      <div class="object-price-more">
        <div class="object__price"><strike>$1.750.000</strike> $1.500.000</div>
        <div class="object__more"><a class="btn-u btn-u-lg btn-u-red btn-u-upper" href="#">Learn more</a></div>
      </div>
      <!-- /Object price -->
    </div>
    <!-- /Object info -->
  </div>
  <!-- /Object -->
                  </div>
          </div>
  </div>
  <!-- /Special objects section -->

